<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN-Msrmh</title>
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />
</head>
<body>
<div id="page">
    <div id="pagetop">
        <p ><img src="/images/purple-logo.jpg" style="width: 200px; height: 65px; float: left; position: absolute; left: 0px; "><div style="font-size: x-large ; text-align: center; padding-top: 2%">MSRMH ONLINE WRITTEN TEST PORTAL<BR></div ><div  style="font-size: medium ; text-align: center; padding-top: 1%">HUMAN RESOURCES DEPARTMENT</div></p>

    </div>
    <div id="header">WELCOME TO MSRMH TEST HOME PAGE </div>
    <div id="main">
        <div class="content">
        <form  action="/firstpage" method="POST" class="content">
            <button class="Button" formaction="/adm">ADMIN LOGIN</button>
            <br><br><br>
            <button class="Button" formaction="/usr" > USER LOGIN</button><br>
        </form>
        </div>
    </div>
    <div id="footer">
        <p>
            Msrmh online interview.
        </p>
    </div>
</div>
</body>
</html>