<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN-Msrmh</title>
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />
</head>
<body>
<div id="page">
    <div id="pagetop">
        <h1>Help</h1>
    </div>
    <div id="header"></div>

    <div id="main">
        <div class="content">
            <p style="font-size: large; color: #16a085; font-family: 'Segoe UI Semilight'">Details will be sent through email.  Please enter the user name.</p>
            <form method="POST" class="content">
                <input type="text" name="user" class ="edit" placeholder="Username" required="required" />
                <br><br><br>
                <button class="Button" onclick="myFunction()" formaction="/mail" > Submit</button><br>
            </form>
        </div>
    </div>
    <!--<script>-->
        <!--function myFunction() {-->
            <!--if(u===1)-->
                <!--alert("Email sent");-->
            <!--else-->
                <!--alert("Enter correct admin username");-->
            <!--}-->
    <!--</script>-->

    <div id="footer">
        <p>
            Msrmh online interview.
        </p>
    </div>
</div>
</body>
</html>