<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../styles/firstpage.css" />

    <title>Admin</title>
</head>

<body>
<div id="page">
    <div id="pagetop">
        <h3>ADMINISTRATOR</h3>
        <div class="links">
            <form method="post">
                <ul>
                    <li><button formaction="/quizdetail" class="new1">Quiz details</button></li>
                    <li><button formaction="/adlogin" class="new1"> Settings</button></li>
                    <li><button formaction="/home" class="new1" >Departments</button></li>
                    <li><button formaction="/view" class="new1" >Info</button></li>

                </ul>
            </form>
        </div>
    </div>
    <div id="main">
        <div class="content">
            <div class="main_top">
                <h1></h1><br><br>
            </div>

            <div class="main_body">
               <textarea class="content">
               1. ques1
                   options:
                   a. op1
                   b. op2
                   c. op3
                   d. op4

               </textarea>
            </div>

        </div>
        <div class="clear">&nbsp;</div>
    </div>
    <div id="footer">
        <p>
        </p>
    </div>



</div>
</body>
</html>
